[Desktop Entry]
Type=Application
Version=1.0
Name=Comin Tray
Comment=Comin GitOps status in the system tray
Exec=comin-tray tray
Icon=system-software-update
Terminal=false
NoDisplay=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
X-GNOME-Autostart-enabled=true
