[Desktop Entry]
Type=Application
Version=1.0
Name=Comin
GenericName=Comin GitOps Manager
Comment=Comin GitOps deployment status and controls
Exec=comin-tray gui
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=NixOS;Comin;Deployment;Update;GitOps;
StartupNotify=true
StartupWMClass=comin-tray
